* {
    --bg: #151515;
    --bg-l: #222;
    --bg-ll: #252525;
    --bg-lll: #333;

    --txt: #ccc;
    --txt-d: #888;

    --tile-size: 140px;

    color: var(--txt);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

button, a.btn {
    background-color: var(--bg-lll);
    border: none;
    border-radius: 1.5rem;
    padding: 5px 10px;
    margin: 5px;
    transition: 100ms;
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

button > *, .btn > * {
    margin: 0 5px;
}

button:hover, .btn:hover {
    transform: scale(110%);
}

button.circle:hover, .btn.circle:hover {
    transform: scale(120%);
}

button:disabled, .btn:disabled {
    transform: scale(90%) !important;
}

button:disabled > *, .btn:disabled > * {
    color: var(--txt-d);
}

button.circle, .btn.circle {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
}

button.circle > *, .btn.circle > * {
    margin: 0;
}

.btn-info {
    transition: 200ms;
    position: absolute;
    font-size: 1.5rem;
    top: 50%;
    left: calc(100% + 1.5rem);
    width: 15rem;
    transform: translate(-1rem, -50%);

    text-align: start;

    opacity: 0;

    z-index: 50;
}

button:hover > .btn-info, .btn:hover > .btn-info {
    transform: translate(0, -50%);
    opacity: 100;
}

body {
    margin: 0;
    height: 100vh;

    background-color: var(--bg);
}

.main {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main > * {
    margin: 25px;
}

#area {
    background-color: var(--bg-l);
    border-radius: 20px;

    height: calc(var(--tile-size) * 5 + 60px);
    width: calc(var(--tile-size) * 4 + 50px);
    position: relative;

    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 5px;
}

.bg-tile {
    background-color: var(--bg-ll);
    border-radius: 10px;
    margin: 5px;
}

.block {
    position: absolute;
    border-radius: 15px;
    transition: 200ms;
}

.small-block {
    position: absolute;
    border-radius: 5px;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.right > * {
    margin: 10px;
}

.btn-list {
    background-color: var(--bg-l);
    border-radius: calc(1.5rem + 10px);

    padding: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.moves {
    text-align: center;
}

#move-count {
    font-size: 2rem;
    font-weight: 1000;
}

.panel {
    background-color: var(--bg-l);
    transition: 200ms;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25rem;
    z-index: 20;

    padding: 20px;
}

.panel.hidden {
    left: -25rem;
}

.panel > * {
    margin: 10px 0;
}

.panel-title {
    margin: 0 0 20px 0;
    font-size: 2rem;
}

.panel-close {
    position: absolute;
    right: 20px;
    top: 10px;
}

.tile-list {
    padding: 0;
}

.tile-list > li {
    background-color: var(--bg-ll);
    list-style: none;
    border-radius: 20px;
    transition: 200ms;

    height: 8rem;
    margin: 5px 0;

    padding: 10px;
    display: flex;
    align-items: center;
    justify-items: start;
}

.tile-list > li:hover {
    background-color: var(--bg-lll);
}

.tile-icon {
    position: relative;
    border-radius: 10px;
    background-color: var(--bg-l);
    height: 100%;
    width: calc((8rem - 20px - 10px) / 5 * 4 + 10px);
    padding: 5px;
}

.tile-list-txt {
    margin-left: 20px;
    font-size: 1.5rem;

    display: flex;
    align-items: flex-start;
    justify-items: start;
    flex-direction: column;
}

.tile-list-txt > p {
    margin: 5px 0;
}

.variant-difficulty {
    margin: 0;
    font-size: 1rem;
}

.tutorial {
    transition: 200ms;
    background-color: var(--bg-l);
    border-radius: 10px;

    width: 25rem;

    padding: 20px;
    overflow: hidden;
}

.tutorial.hidden {
    opacity: 0;
    margin: 0 !important;
    transform: scale(0);
    width: 0;
}

.tutorial > * {
    margin: 5px 0;
}

.tutorial > button {
    margin-top: 20px;
}

.tuto-title {
    font-size: 1.5rem;
}

.target {
    z-index: 10;
    border: 4px dashed #10ff1010;
    border-radius: 20px;
    
    pointer-events: none;

    position: absolute;
    width: calc((var(--tile-size) + 10px) * 2);
    height: calc((var(--tile-size) + 10px) * 2);
    top: calc((var(--tile-size) + 10px) * 3 + 5px);
    left: calc(var(--tile-size) + 10px + 5px);
}


@media screen and (max-width: 1300px) {
    .btn-info {
        transition: 200ms;
        position: absolute;
        font-size: 1rem;
        top: 50%;
        left: calc(100% + 1.5rem);
        width: 15rem;
        transform: translate(-1rem, -50%);
    }

    .tutorial {
        z-index: 15;
        position: absolute;
        left: 25%;
    }
}

@media screen and (max-width: 1000px) {
    .btn-info {
        display: none;
    }
}

@media screen and (max-height: 900px), screen and (max-width: 700px) {
    * {
        --tile-size: 100px;
    }
}

@media screen and (max-width: 800px) {
    .main {
        flex-direction: column;
    }

    .right, .btn-list {
        flex-direction: row;
    }

    .tutorial {
        left: unset;
    }
}

@media screen and (max-height: 750px), screen and (max-width: 550px) {
    * {
        --tile-size: 80px;
    }

    .right {
        flex-direction: column;
    }
}

@media screen and (max-height: 500px) {
    * {
        --tile-size: 60px;
    }

    .right {
        flex-direction: row;
    }
}

@media screen and (max-width: 400px) {
    * {
        --tile-size: 60px;
    }
}
